<section class="position-absolute h-100 w-100 top-0 d-flex flex-column justify-content-end align-items-center">
    <p>Vous pouvez essayer de retourner à la <a href="https://rylyx.fr" title="Page d'accueil">page d'accueil</a>, ou directement accéder à mon <a href="https://fr.linkedin.com/in/charles-climent" title="Profil LinkedIn">profil LinkedIn</a>.</p>
</section>
