<section class="container">
    <div class="d-flex justify-content-center mb-5 wow animate__fadeInDown">
        <h2 class="text-center">Contact</h2>
    </div>

    <div id="contact" class="row justify-content-center flex-column flex-xl-row align-items-center align-items-xl-stretch wow animate__fadeInUp">
        <aside class="col-12 col-md-6 col-xl-3">
            <div class="badge-base LI-profile-badge d-flex justify-content-center" data-locale="fr_FR" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="charles-climent" data-version="v1">
                <a class="badge-base__link LI-simple-link visually-hidden" title="Profil LinkedIn" href="https://fr.linkedin.com/in/charles-climent?trk=profile-badge" target="_blank" rel="noopener nofollow">Accéder à mon LinkedIn</a>
            </div>
        </aside>
    </div>
</section>
