<section class="container">
    <div class="d-flex justify-content-center mb-5 wow animate__fadeInDown">
        <h2 class="text-center">Mes expériences</h2>
    </div>

    <div class="row justify-content-center overflow-hidden">
        <aside class="col-12 col-lg-4 wow animate__fadeInLeft">
            {% set modal_body %}
                <i>En cours de construction...</i>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-optiago',
                card_image: asset('images/optiago.webp'),
                card_title: 'Optiago',
                card_text: 'Responsable développement API',
                card_text_secondary: 'Depuis Février 2024',
            } %}
        </aside>

        <aside class="col-12 col-lg-4 wow animate__fadeInRight">
            {% set modal_body %}
                <p>Réalisation et maintenance de nombreux sites et applications web pour différents clients, répondant à diverses problématiques métier.</p>

                <p>ERP, intranets et extranets, e-commerces, API, PWA, outils métiers...</p>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-novaway',
                card_image: asset('images/novaway.webp'),
                card_title: 'Novaway',
                card_text: 'Conception de sites et application web',
                card_text_secondary: 'Novembre 2019 - Janvier 2024',
            } %}
        </aside>
    </div>

    <div class="row justify-content-center">
        <aside class="col-12 col-lg-4 wow animate__fadeInLeft">
            {% set modal_body %}
                <p>Conception d'un CMS complet et dynamique avec prévisualisation en temps réel, avec le framework Angular pour le front et Symfony pour l'API.</p>

                <ul>
                    <li>Création poussée de pages et articles, optimisées en SEO</li>
                    <li>Médiathèque avancée avec transfert de fichiers lourds en "chunk"</li>
                    <li>Gestion fine des rôles, utilisateurs et leurs permissions</li>
                    <li>Création dynamique de formulaires et contraintes de validation personnalisables</li>
                    <li>Administration des informations du site web, écriture du fichier robot.txt, modification de toutes les balises meta, ...</li>
                    <li>Création et modification d'offres d'emploi et d'annonces immobilières</li>
                    <li>Génération de menus sur 3 niveaux différents avec aperçu en temps réel</li>
                    <li>Recherche avancée à l'aide d'ElasticSearch</li>
                    <li>Import et export de données depuis diverses sources externes</li>
                    <li>...</li>
                </ul>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-latitud',
                card_image: asset('images/latitud.webp'),
                card_title: 'Latitud',
                card_text: 'Développement de solutions web',
                card_text_secondary: 'Décembre 2018 - Octobre 2019',
            } %}
        </aside>

        <aside class="col-12 col-lg-4 wow animate__fadeInRight">
            {% set modal_body %}
                <p>Première expérience professionnelle, maintenance de divers projets en Symfony encadré par des lead developpers.</p>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-intuitivtechnology',
                card_image: asset('images/intuitivtechnology.webp'),
                card_title: 'Intuitiv Technology',
                card_text: 'Maintenance de projets',
                card_text_secondary: 'Septembre 2018 - Décembre 2018',
            } %}
        </aside>
    </div>

    <div class="row justify-content-center">
        <aside class="col-12 col-lg-4 wow animate__fadeInLeft">
            {% set modal_body %}
                <p>Stage réalisé au sein du groupe SURA, développement du site de l'entreprise aux côtés d'un autre développeur/intégrateur.</p>

                <p>
                    Lors de ce stage et ayant carte blanche pour la réalisation de celui-ci, j'ai en parallèle appris en autodidacte à utiliser les frameworks Angular et Symfony afin de les intégrer au projet.
                    <br>
                    J'ai également appris les bases de la conception d'une API REST en Symfony.
                </p>

                <ul>
                    <li>Développement d'un site innovant & responsif</li>
                    <li>Mise en place d'une API REST et d'outils Google API</li>
                    <li>Gestion des utilisateurs et double back-office</li>
                    <li>Animations front-end</li>
                    <li>Conception de simulateurs avec calculs complexes</li>
                    <li>Tests fonctionnels</li>
                    <li>Maintenance et évolution</li>
                    <li>Installation + administration d'un serveur dédié</li>
                    <li>...</li>
                </ul>

                <p>NB : le site a complètement été remanié depuis la fin de mon stage, il ne reflète plus aujourd'hui le travail que j'ai effectué dessus.</p>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-sura',
                card_image: asset('images/sura.webp'),
                card_title: 'Sura (stage)',
                card_text: "Développement du site de l'entreprise",
                card_text_secondary: 'Avril 2018 - Septembre 2018',
            } %}
        </aside>

        <aside class="col-12 col-lg-4 wow animate__fadeInRight">
            {% set modal_body %}
                <p>
                    Formation de développement web se déroulant sur 3 mois.
                    <br>
                    Apprentissages des bases de la conception d'un site web de A à Z, sur les langages et technologies JavaScript / PHP / MySQL.
                </p>

                <p>Projet de fin de formation : développement d'un CMS permettant la réalisation de site vitrine et e-commerce en Symfony en 5 jours en groupe de 3 personnes.</p>
            {% endset %}

            {% include 'components/card_with_modale.html.twig' with {
                modal_target: 'js-modal-webforce3',
                card_image: asset('images/webforce3.webp'),
                card_title: 'WebForce3 (formation)',
                card_text: 'Formation au développement web',
                card_text_secondary: 'Septembre 2017 - Février 2018',
            } %}
        </aside>
    </div>
</section>
