<section class="container">
    <div class="d-flex justify-content-center mb-5 wow animate__fadeInDown">
        <h2 class="text-center">Le reste...</h2>
    </div>

    <div id="misc" class="row justify-content-center flex-column flex-xl-row align-items-center align-items-xl-stretch">
        <aside class="col-12 col-md-6 col-xl-3">
            {% include 'components/card_with_list.html.twig' with {
                card_color: 'secondary',
                card_name: 'Expériences passées',
                card_items: [
                    'Réalisation de vidéos pour <a href="https://lecubeaessai.fr/" title="Le Cube à Essai" class="link-secondary" target="_blank" rel="noopener nofollow">Le Cube à Essai</a>',
                    'Montage vidéo pour <a href="https://www.millenium.org/" title="Millenium.org" class="link-secondary" target="_blank" rel="noopener nofollow">Millenium.org</a>',
                    'Service Civique à Pôle Emploi',
                ],
            } %}
        </aside>

        <aside class="col-12 col-md-6 col-xl-3 mt-4 mt-xl-0">
            {% include 'components/card_with_list.html.twig' with {
                card_color: 'secondary',
                card_name: 'Langues',
                card_items: [
                    'Anglais (bon)',
                    'Japonais (notions)',
                ],
            } %}
        </aside>

        <aside class="col-12 col-md-6 col-xl-3 mt-4 mt-xl-0">
            {% include 'components/card_with_list.html.twig' with {
                card_color: 'secondary',
                card_name: "Centres d'intérêts",
                card_items: [
                    'Découverte de paysages extérieurs',
                    'Informatique',
                    'Jeux vidéo',
                    'Nouvelles technologies',
                ],
            } %}
        </aside>
    </div>
</section>
