<section class="container">
    <div class="d-flex justify-content-center mb-5"
         data-aos="fade-down"
    >
        <h2 class="text-center">À propos de moi</h2>
    </div>

    <div class="row justify-content-around">
        <article class="col-12 col-lg-7 text-justify"
                 data-aos="fade-right"
                 data-aos-duration="1000"
        >
            <p class="mb-4">
                <span class="text-is-bold text-secondary">></span>
                Initialement détenteur d'une certification professionnelle BAC+3 de <span class="fst-italic">"Technicien, Réalisateur/Monteur"</span> décernée par <a href="https://www.acfamultimedia.com/" class="link-success" target="_blank" rel="noopener nofollow">ACFA Multimédia</a>, je me suis par la suite réorienté dans le domaine du développement web en suivant une formation accélérée avec l'organisme <a href="https://www.wf3.fr/" class="link-success" target="_blank" rel="noopener nofollow">WebForce3</a>.
                <br>
                Cette formation m'a permis d'apprendre les bases de la conception simple d'un site web en PHP, en s'appuyant sur mes connaissances autodidactes.
            </p>

            <p class="mb-4">
                <span class="text-is-bold text-secondary">></span>
                Au bout de 3 mois d'apprentissage, j'ai pu accéder à un stage en entreprise qui m'a permis d'accéder à mon premier emploi en 2018 chez <a href="https://latitud.immo/" class="link-success" target="_blank" rel="noopener nofollow">Latitud</a> en tant que <span class="text-is-bold">développeur full-stack <span class="text-danger">Angular</span>/<span class="text-dark">Symfony</span></span>.
            </p>

            <p class="mb-4">
                <span class="text-is-bold text-primary">></span>
                Depuis 2019, j'exerce le métier de <span class="text-is-bold">développeur web back-end <span class="text-dark">Symfony</span></span> chez <a href="https://www.novaway.fr/" class="link-success" target="_blank" rel="noopener nofollow">Novaway</a>.
            </p>
        </article>

        <aside class="d-none d-lg-inline col-12 col-lg-3"
               data-aos="fade-left"
               data-aos-duration="1000"
        >
            <div id="profil" class="d-flex justify-content-center align-items-center flex-column">
                <picture class="mb-2">
                    <img src="{{ asset('images/charles.png') }}"
                         alt="Photo de Charles"
                         class="img-thumbnail shadow-sm"
                         loading="lazy"
                    >
                </picture>

                <p class="text-is-bold"><span id="age"></span> ans | he/him | Lyon - France</p>
            </div>
        </aside>
    </div>
</section>
