<section class="container">
    <div class="d-flex justify-content-center mb-5 wow animate__fadeInDown">
        <h2 class="text-center">Mes compétences</h2>
    </div>

    <div id="skills" class="row justify-content-center">
        <aside class="col-12 col-lg-8">
            <div class="card border-info shadow-sm wow animate__fadeInUp">
                <div class="card-body">
                    <h5 class="card-title text-center text-is-bold text-uppercase mb-4">Back</h5>

                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    PHP 7<sup>+</sup> (POO / MVC)
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    Doctrine
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    Sonata Admin
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    <i>Sylius</i>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-4">
                            <hr class="d-block d-lg-none">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    Symfony 4<sup>+</sup>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    Symfony UX
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    Pest
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    <i>Api Platform</i>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-4">
                            <hr class="d-block d-lg-none">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    SQL (MySQL)
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    EasyAdmin
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    ElasticSearch
                                </li>
                                <li class="list-group-item">
                                    <span class="text-info">></span>
                                    <i>Docker</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="w-100"></div>

        <aside class="col-12 col-lg-4 mt-4">
            {% include 'components/card_with_list.html.twig' with {
                card_color: 'warning',
                card_name: 'Front',
                card_items: [
                    'TypeScript / JavaScript',
                    'SASS / SCSS',
                    'Angular 2<sup>+</sup>',
                    'Cypress',
                    '<i>Vue.js 2<sup>+</sup></i>',
                    '<i>Electron</i>'
                ],
            } %}
        </aside>

        <aside class="col-12 col-lg-4 mt-4">
            {% include 'components/card_with_list.html.twig' with {
                card_color: 'secondary',
                card_name: 'Générales',
                card_items: [
                    'Veille quotidienne et R&D régulière',
                    "Notions d'architectures logicielles",
                    'Amour du partage de connaissances',
                    'Respect de la qualité du code',
                    '<i>Configuration serveurs</i>',
                    '<i>Configuration CI/CD Gitlab</i>'
                ],
            } %}
        </aside>
    </div>
</section>
