@import "bootstrap";

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../fonts/poppins/Poppins-SemiBold.otf') format('opentype');
}

.text-is-bold {
  font-family: 'Poppins-bold', sans-serif;
}

body {
  background: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

section.container:not(:last-of-type) {
  margin-bottom: 15vh;

  @media only screen and (max-width: 600px) {
    margin-bottom: 10vh;
  }
}
